<VirtualHost *:80>
ServerAdmin admin@example.com
DocumentRoot {{ work_dir }}/testlink-code-{{ testlink_version }}/
ServerName testlink.fas
ServerAlias www.testlink.fas
<Directory {{ work_dir }}/testlink-code-{{ testlink_version }}/>
Options FollowSymLinks
AllowOverride All
Order allow,deny
allow from all
</Directory>
ErrorLog {{ log_dir }}/testlink.error_log
CustomLog {{ log_dir }}/testlink.access_log common
</VirtualHost>